<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h2>New user info:</h2>
<form th:action="@{/admin/delete}" th:object="${user}" th:method="post">
    <input type="hidden" th:field="*{id}"/>
    <label th:name="username">Username:</label>
    <input type="text" th:name="username" th:field="*{username}"/>
    <br>
    <label th:name="password">Password:</label>
    <input type="text" th:name="password" th:field="*{password}"/>
    <br>
    <label th:name="email">Email:</label>
    <input type="text" th:name="email" th:field="*{email}"/>
    <br>
    <label >Role</label>
    <th:block th:each="role : ${roleList}">
        <input type="checkbox" th:field="${user.rolesId}" th:value="${role.id}" />
        <label th:text="${role.name}"></label>
    </th:block>
    <br>
    <input type="submit" value="Delete">
    <input type="button" value="Back" onclick="window.location.href='/admin'">
</form>
</body>
</html>