<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
Logged in user: <b th:text="${currentUser}" />
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Logout">
</form>
<h1>User, welcome spring boot security page!</h1>

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Authorities</th>
    </tr>
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td><th:block th:each="role :${user.roles}">
            <p th:text="${role.name}"></p>
        </th:block></td>

    </tr>
</table>


</body>
</html>